/* CSS for all plugins */
body {}

/* CSS for Database Viewer */
.wvtable {}

/* CSS for Database Query */
#v6QueryItemBar {}

/* CSS for Database Form */
#wForm {
  width: 100%;

}


.subTable {
  max-width: 55rem;
}

.subController-extend {
  left: -18px;
}

.subController-add {
  left: 875px;
}

.subController-delete {
  left: 895px;
}


.parent-container {
  display: flex;
  gap: 20px;
}

.calendar-container {
  width: 100%;
  /* 50% 螢幕寬度 */
  max-width: 1200px;
  /* 最大 600px */
  min-width: 300px;
  /* 最小 300px */
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 620px;
  /* flex-shrink: 0; */
  /* 確保 container 只佔據必要空間 */
}

.iframe-container {
  /* flex-grow: 1; */
  /* 讓 iframe 佔據剩餘空間 */
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 300px;
}

#time-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#time-subtitle {
  text-align: center;
  font-size: 13px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

/* 讓 time-box 保持 2x2 排列 */
.subTime-container {
  display: grid;
  grid-template-columns: repeat(1, 120px);
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
}

.time-box {
  background-color: white;
  /* border: 1px solid #3874CB; */
  color: #3874CB;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 無可選時段的樣式 */
.no-time {
  font-size: 16px;
  color: #999;
  text-align: center;
}